footer {
    height:72px;
    background-color: #fefcf2;
    flex: 0 0 auto;
}

footer .studio-name {
    margin: 24px 0px 0px 108px;
    position:relative;
    display: inline-block;
    letter-spacing: -0.5px;
}

footer .contact-email-block {
    position:relative;
    display: inline-block;
    float: right;
    margin: 21px 353px 0px 0px;
    padding: 3px 0;
    letter-spacing: -0.5px;
    padding-left:50px;
    background-image: url(../images/mail.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}

footer .contact-email-block a {
    text-decoration: none;
    color: #636363;
}