footer {
    width:100%;
    height:72px;
}

footer .studio-name {
    margin: 22px 0px 0px 57px;
    position:relative;
    display: inline-block;
    letter-spacing: -0.5px;
}

footer .contact-email-block {
    position:relative;
    display: inline-block;
    float: right;
    padding-right: 298px;

    margin: 5px 0px 0px 0px;
    padding-left:50px;
    background-image: url(../images/mail.png);
    background-repeat: no-repeat;
    background-position: 4px 15px;

}