.top-line{
    width:100%;
    height:21px;
    background-color: #04e4a2;
}

.header-layout-positioner {
    width:93%;
    max-width:1200px;
    margin:0px auto;
}

.contacts {
    margin:0px;
    width:100%;
    height:78px;
    background-color: #e94643;
}

.logo {
    display:inline-block;
    font-size:0px;
    width:40%;
}

.logo > .title {
    display:block;
    padding:18px 0px 15px 28%;
    margin-top:0px;
    margin-bottom:0px;
    text-transform: lowercase;
    font-size:34px;
    font-weight: 700;
    color:white;
}

.contact-link {
    display:inline-block;
    float: right;
    height:100%;
    width:130px;
}
.contact-link .contact-link-button {
    display: inline-block;
    float: right;
    padding:27px 0px 1px 0px;
    margin-right:0px;
    border-bottom:#fdd835 solid 3px;
    font-family:'MyriadPro', sans-serif;
    text-transform: uppercase;
    font-size:17px;
    letter-spacing:2px;
    text-underline: dash;
    color:white;
}