header {
    border-top: #04e4a2 solid 21px;
    background-color: #e94643;
    color:white;
}

.logo {
    display:inline-block;
    margin: 16px 0 16px 12%;
    text-transform: lowercase;
    font-size:34px;
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .logo {
        margin-left: 5%;
    }
}

.contact-link {
    text-decoration: none;
    color:white;
    display: inline-block;
    margin: 28px 12px;
    float: right;
    border-bottom:#fdd835 solid 3px;
    font-family:'MyriadPro', sans-serif;
    text-transform: uppercase;
    font-size:16px;
    letter-spacing:2px;
}