html {
    height: 100%;
}

body {
    margin:0px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size:16px;
    color: #636363;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.full-content {
    flex: 1 0 auto;
}

.layout-positioner {
    height: auto;
    overflow: hidden;
    width: 1200px;
    margin: 0px auto;
}