.second-section {
    position: relative;
}

.second-section .second-section-content{
    margin: 15px 55px 31px 55px;
    float:right;
    width:521px;
}

@media screen and (max-width: 700px) {
    .second-section .second-section-content {
        float: none;
        margin: 30px auto 80px auto;
        width: 90%;
    }
}

.second-section h2{
    margin: 17px 0 16px 23px;
    font-weight: 300;
    font-size:20px;
    word-spacing:-1px;
    line-height:20px;
    color: #ff9288;
}

.second-section .first-name {
    box-sizing : border-box;
    width:250px;
    height:50px;
    padding:0px 20px;
    margin-bottom: 17px;
    border:#e3f2fd solid 2px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size:16px;
    border-radius: 5px;
    color: #636363;
}

.second-section .last-name {
    box-sizing : border-box;
    float:right;
    width:250px;
    height:50px;
    padding:0px 33px;
    margin-bottom: 17px;
    border:#e3f2fd solid 2px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size:16px;
    border-radius: 5px;
    color: #636363;
}

.second-section .email-address {
    box-sizing : border-box;
    width:250px;
    height:50px;
    padding:0px 20px;
    margin-bottom: 17px;
    border:#e3f2fd solid 2px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size:16px;
    border-radius: 5px;
    color: #636363;
}

.second-section select {
    box-sizing : border-box;
    width:100%;
    height:100%;
    padding:0px 33px;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    border:#e3f2fd solid 2px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size:16px;
    border-radius: 5px;
    color: #636363;
}

.new-select-arrow {
    float:right;
    display:inline-block;
    width:250px;
    height:50px;
    margin-bottom: 17px;
    background-image: url(../images/arrow.png);
    background-position: 92% 50%;
    background-repeat: no-repeat;
}

.second-section textarea {
    box-sizing : border-box;
    width:100%;
    height:100px;
    padding:13px 22px;
    letter-spacing: -0.5px;
    border:#e3f2fd solid 2px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size:16px;
    border-radius: 5px;
    resize:none;
    color: #636363;
}

.second-section .send{
    float: right;
    width:119px;
    height:45px;
    margin-top:10px;
    border:none;
    font-weight: 600;
    font-size:18px;
    color:white;
    border-radius: 8px;
    background-color: #ef5350;
}

.second-section .lines {
    position: absolute;
    top: -951px;
    left: calc(50vw - 1377px);
}

@media screen and (max-width: 1200px) {
    .second-section .lines {
        left: calc(100vw - 1986px);
    }
}

@media screen and (max-width: 700px) {
    .second-section .lines {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .second-section .first-name,
    .second-section .last-name,
    .second-section .email-address {
        float: none;
        padding: 0 20px;
        width: 100%;
    }

    .second-section .new-select-arrow {
        float: none;
        width: 100%;
    }

    .second-section select {
        padding: 0 20px;
    }

    .second-section textarea {
        padding: 13px 20px;
    }
}